.menu_horizontal{
    margin-bottom: 10px;
    font-size: 18px;
    padding-top: 20px;
}
.menu_horizontal span{
    padding-left: 100px;
    text-decoration: underline;
}
.filmes_acaoAventura div{
    float: left;
    padding: 40px;
    padding-bottom: 30px;
    margin-left: 40px;
}
.filmes_acaoAventura img{
    width: 230px;
    height: 300px;
}

