.content{
    margin-left: 500px;
    margin-top: 30px;
}
.size-input{
    width: 70%;
}
.botao{
    text-align: right;
    padding-right: 30px;
}
.botaoo{
    text-align: center;
    font-size: 22px;
    width: auto;
}