*{
    margin: 0;
    font-family: 'Jost',sans-serif, Helvetica, Arial, sans-serif, Courier, monospace;
}
.navbar-style{
    background-color:  #DDDDDD;
    width: 100%;
}
.input-text{
    border-radius: 0.5rem;
    font-size: 14px;
}
